---
---

@import "{{ site.theme }}";

header img {
  max-width: 150px;
  height: auto;
}

/* UF color overrides */
body {
  color: #ffffff;
}

header h1 a,
header h1 a:hover {
  color: #FA4616;
}

header ul li a,
header ul li a:hover {
  color: #FA4616;
}

a {
  color: #FA4616;
}

a:hover {
  color: #ffffff;
}
